# Lab 2
## Dictionaries in Python

This lab is designed to give you practice with using the *dict* data structure in Python. This lab is worth 10 points.

<hr>
### David Proksch
### ITC 510 - Fall 2021

<hr>

### 1. In the code cell below, write a Python script to create and then print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of the keys. (2 points)

Example output:

    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [7]:
d = {}
for x in range(1,16,1):
    d[x] = x*x
    
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### 2. In the code cell below, write a Python script to add all the values in the created dictionary. (2 points)
    
Example output:

    The sum of the values is 1260 .

In [9]:
s=0
for x in d:
    s += d[x]
    
print(s)

1240

### 3. In the code cell below, write a Python script that will print the value given the key *6*. (2 points)

Example output:

    The square of 6 is 36 .

In [10]:
print("The square of {0} is {1}".format(6, d[6]))

The square of 6 is 36

### 4. In the code cell below, write a Python program that will read in the following sequence of characters, then create a count of characters. Use the *dict* data type to assist in this exercise. (4 points)

Input:

    ABBCCDAABBGGAABBGGDDTTTBA
    
Example output:

    {A: 6, B: 7, C: 2, D: 3, G: 4, T: 3}

In [20]:
inputstring = "ABBCCDAABBGGAABBGGDDTTTBA"
d = {}

for s in inputstring:
    if s in d:
        d[s] += 1
    else:
        d[s]=1
    
print(d)

{'A': 6, 'B': 7, 'C': 2, 'D': 3, 'G': 4, 'T': 3}